:root {
    --white: #fff;
    --red: #C90003;
    --dark-red: #a10006;
    --dark-grey: #242424;
    --black: #1B1B1B;
    --light-gray: #3D3838;
    --faq-color: #2E2E2E;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/TTNormsPro-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/TTNormsPro-DemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/TTNormsPro-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/TTNormsPro-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

#snowCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}



body {
    color: var(--white);
    font-family: 'TT Norms Pro', sans-serif;
    background-color: var(--dark-grey);
}

.container {
    max-width: 1660px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background: rgba(60, 37, 0, 0.5); /* твой цвет 3C2500 с прозрачностью 50% */
    backdrop-filter: blur(12px);      /* размывает фон за блоком */
    -webkit-backdrop-filter: blur(12px); /* нужно для Safari */
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-row {
    max-width: 1660px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; /* желательно */
}

.nav-desktop a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 4px 0;
    transform: 0.3s ease;
}

.nav-desktop a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.25s ease;
}

.nav-desktop a:hover::after {
    width: 100%;
}

.nav-desktop ul {
    display: flex;
    gap: 100px;
    font-size: 20px;
}

.nav-desktop li {
    list-style-type: none;
}

.toggle, .toggle-mobile {
    background-color: var(--dark-grey);
    padding: 12px 14px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s ease;
}

.toggle:hover {
    transform: scale(0.9);
}

.nav-mobile, .toggle-mobile {
    display: none;
}


/* FIRST SCREEN */

.first-screen {
    background-image: url('../img/hero-background.webp');
    background-size: cover;      
    background-repeat: no-repeat; 
    overflow-x: hidden;
}


.first-screen h1 {
    font-size: 80px;
    font-weight: 700;
    margin-top: 212px;
    max-width: 904px;
}

.first-screen p {
    font-size: 24px;
    font-weight: 500;
    margin-top: 32px;
    max-width: 615px;
}

.hero-buttons {
    padding: 190px 0 155px 0;
    display: flex;
    gap: 40px;
}

.btn-gifts, .btn-more {
    border-radius: 60px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
    padding: 20px 40px;
}

.btn-gifts:hover, .btn-more:hover {
    transform: scale(0.9);
}

.btn-gifts {
    background-color: var(--red);
}

.btn-more {
    border: 2px solid var(--red);
}


/* GIFTS & CONDITIONS */

.gifts-cards, .conditions-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.gifts h2, .conditions h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 170px 0 51px 0;
}

.gifts-cards__item, .conditions-cards__item {
    position: relative; /* обязательно */
    width: 100%;
    border-radius: 30px;
    background-color: var(--black);
    padding: 30px;
    border: 1px solid var(--red);
    overflow: visible; /* чтобы подарок мог вылезать за рамку */
}

.christmas-lama {
    position: absolute;
    bottom: 100%;
    right: 5%;
    width: 18%;
    max-width: 130px;
}

.ded-moroz {
    position: absolute;
    right: 0;
    top: -40%;  /* регулируешь как в макете */
    width: 200px;
    pointer-events: none;
    z-index: 100;
}


.gifts-cards__item p, .conditions-cards__item p {
    font-size: 24px;
    font-weight: 500;
    max-width: 400px;
    margin-top: 30px;
}

.conditions {
    position: relative;
    margin-bottom: 150px;
}

.conditions-cards__item p, .conditions-cards__item li {
    font-size: 24px;
    font-weight: 500;
    max-width: 600px;
}

.conditions-cards__item li {
    margin-top: 20px;
}

.gifts h3, .conditions h3 {
    font-size: 40px;
    font-weight: 700;
    max-width: 500px;
}

.chance, .conditions-gift {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: var(--light-gray);
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}

.gifts-card-item__top, .conditions-card-item__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gifts-cards__item .social-media {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

/* BANNER NEW */

.banner {
    background-image: url('../img/banner-mobile-app.webp');
    background-size: cover;      
    background-repeat: no-repeat; 
    overflow-x: hidden;
}

.mobile-span {
    display: none;
}

.banner-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_middle span {
    font-size: 36px;
    font-weight: 700;
}

.qr-app {
    width: 200px;
}
.banner-stores {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner-stores img {
    width: 200px;
}


.banner_left-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
}


/* FAQ */


.faq h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 170px 0 51px 0;
}

/* COMPONENT: FAQ */
.faq-row {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}
.faq-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.faq-item.active-state .arrow {
  transform: rotate(180deg);
}
.arrow {
  flex-shrink: 0;
  align-self: flex-start;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  transition: transform 0.3s ease;
}
.faq-item {
  background: var(--faq-color);
  border: 1px solid #828282;
  border-radius: 18px;
  box-shadow: 0 2px 8px 0 rgba(30, 41, 59, 0.07);
  overflow: hidden;
  transition: box-shadow 0.2s;
  width: 100%;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  padding: 20px;
  color: var(--white);
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  transition: background 0.15s;
}
button, .faq-question {
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  font-size: 16px;
  color: var(--white);
  background: var(--faq-color);
  transition: max-height 1s, padding 0.3s;
  line-height: 1.7;
}
.faq-answer p {
  font-size: 16px;
}

.faq-item.active-state .faq-answer {
  padding: 0 20px 20px 20px;
  max-height: max-content;
}


/* CONTACTS */

footer {
    position: relative;
    background-image: url('../img/footer-background.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40%; /* или сколько нужно */
}

.contacts h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 170px 0 50px 0;
}

.call-to-us__row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 35px;
}

.call-to-us__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.call-to-us p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

.copyright {
    color: #D7D7D7;
    font-size: 16px;
    font-weight: 700;
}



/* MOBILE MENU */

.mobile-menu {
    position: fixed;
    left: 0;
    width: 100%;
    height: calc(100vh); /* уменьшаем высоту, чтобы header остался видим */

    background: rgba(36, 36, 36, 0.85);
    /* background-color: var(--dark-grey); */
    backdrop-filter: blur(12px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    transform: translateY(-120%); /* прячем выше */
    transition: transform 0.3s ease;

    z-index: 999; /* ниже header */
}

.mobile-menu.active {
    transform: translateY(0);
}

/* чтобы меню выглядело ровно */
.nav-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    list-style: none;
}

.nav-mobile a {
    color: white;
    font-size: 26px;
    font-weight: 600;
}

/* =========================================
   POPUP OVERLAY (фон, блюр)
========================================= */
.popup-overlay {
    position: fixed;
    inset: 0;                    /* top: 0; left: 0; right: 0; bottom: 0 */
    width: 100%;
    height: 100vh;

    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    z-index: 5000;
}

.popup-overlay.active {
    opacity: 1;
    pointer-events: auto;
}


/* =========================================
   ОСНОВНОЕ ОКНО POPUP
========================================= */
.popup {
    max-width: 800px;
    width: 90%;
    max-height: 90vh;

    background-color: var(--black);
    border: 1px solid #EC0004;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    overflow: hidden;            /* чтобы скролл был внутри */
    z-index: 6000;
}


/* =========================================
   ВНУТРЕННЯЯ ОБЛАСТЬ С КОНТЕНТОМ
   (именно здесь появляется скролл)
========================================= */
.popup-inner {
    padding: 40px 30px;
    overflow-y: auto;
    max-height: 95vh;  /* минус кнопка и верхние отступы */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popup-title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.popup-subtitle {
    font-size: 22px;
    font-weight: 700;
}

.popup-inner li + li {
    margin-top: 10px;
}

/* Красивая полоса прокрутки */
.popup-inner::-webkit-scrollbar {
    width: 10px;
}

.popup-inner::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 10px;
}

.popup-inner::-webkit-scrollbar-thumb {
    background: var(--red);
    border-radius: 10px;
}

.popup-inner::-webkit-scrollbar-thumb:hover {
    background: #ff3333;
}

/* Firefox */
.popup-inner {
    scrollbar-width: thin;
    scrollbar-color: var(--red) #2a2a2a;
}


/* =========================================
   КНОПКА "Понятно"
========================================= */
.popup-close {
    border-radius: 60px;
    font-size: 24px;
    font-weight: 600;

    padding: 20px 40px;
    margin: 20px auto 30px; /* центрируем */

    background-color: var(--red);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease;
}

.popup-close:hover {
    transform: scale(0.9);
}
