:root {
    --white: #fff;
    --red: #C90003;
    --dark-grey: #242424;
    --black: #1B1B1B;
    --light-gray: #3D3838;
    --faq-color: #2E2E2E;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/TTNormsPro-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/TTNormsPro-DemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/TTNormsPro-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/TTNormsPro-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

#snowCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}



body {
    color: var(--white);
    font-family: 'TTNormsPro-Bold', sans-serif;
    background-color: var(--dark-grey);
}

.container {
    max-width: 1660px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background: rgba(60, 37, 0, 0.5); /* твой цвет 3C2500 с прозрачностью 50% */
    backdrop-filter: blur(12px);      /* размывает фон за блоком */
    -webkit-backdrop-filter: blur(12px); /* нужно для Safari */
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1660px;
    margin: 0 auto;
    padding: 30px 0;
}

.nav a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 4px 0;
    transform: 0.3s ease;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.25s ease;
}

.nav a:hover::after {
    width: 100%;
}

.nav ul {
    display: flex;
    gap: 100px;
    font-size: 20px;
}

.nav li {
    list-style-type: none;
}

.language-toggle a {
    background-color: var(--dark-grey);
    padding: 20px 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s ease;
}

.language-toggle a:hover {
    transform: scale(0.9);
}


/* FIRST SCREEN */

.first-screen {
    background-image: url('../img/hero-background.webp');
    background-size: cover;      
    background-position: center;    
    background-repeat: no-repeat; 
}

.banner img {
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
    width: 100%;
    height: 850px;
}

.first-screen h1 {
    font-size: 96px;
    font-weight: 700;
    margin-top: 212px;
    max-width: 904px;
}

.first-screen p {
    font-size: 24px;
    font-weight: 500;
    margin-top: 32px;
    max-width: 615px;
}

.hero-buttons {
    padding: 190px 0 250px 0;
    display: flex;
    gap: 40px;
}

.btn-gifts, .btn-more {
    border-radius: 60px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
}

.btn-gifts:hover, .btn-more:hover {
    transform: scale(0.9);
}

.btn-gifts {
    padding: 20px 40px;
    background-color: var(--red);
}

.btn-more {
    border: 5px solid var(--red);
    padding: 20px 40px;
}


/* GIFTS & CONDITIONS */

.gifts-cards, .conditions-cards {
    display: flex;
    justify-content: space-between;
}

.gifts h2, .conditions h2 {
    font-size: 96px;
    font-weight: 700;
    margin: 170px 0 51px 0;
}

.gifts-cards__item, .conditions-cards__item {
    position: relative; /* обязательно */
    border-radius: 30px;
    background-color: var(--black);
    padding: 30px;
    min-width: 760px;
    max-height: 417px;
    border: 1px solid var(--red);
    overflow: visible; /* чтобы подарок мог вылезать за рамку */
}

.decor-gifts {
    position: absolute;
    bottom: 20px;   /* регулируешь под макет */
    right: 20px;
    width: 250px;
    pointer-events: none; /* чтобы не мешал кликам */
}

.decor-gifts_2 {
    position: absolute;
    bottom: 20px;   /* регулируешь под макет */
    right: 320px;
    width: 120px;
    pointer-events: none; /* чтобы не мешал кликам */
}

.christmas-lama {
    position: absolute;
    bottom: 330px;   /* регулируешь под макет */
    right: 300px;
    width: 118px;
    pointer-events: none; /* чтобы не мешал кликам */
}

.ded-moroz {
    position: absolute;
    bottom: 390px;   /* регулируешь под макет */
    right: -1020px;
    width: 118px;
    pointer-events: none; /* чтобы не мешал кликам */
}

.gifts-cards__item p {
    font-size: 24px;
    font-weight: 500;
    max-width: 400px;
    margin-top: 30px;
}

.conditions {
    margin-bottom: 150px;
}

.conditions-cards__item p, .conditions-cards__item li {
    font-size: 24px;
    font-weight: 500;
    max-width: 600px;
}

.conditions-cards__item li {
    margin-top: 20px;
}

.gifts h3, .conditions h3 {
    font-size: 40px;
    font-weight: 700;
    max-width: 500px;
    margin-bottom: 30px;
}

.chance {
    font-size: 40px;
    font-weight: 700;
    border-radius: 100px;
    background-color: var(--light-gray);
    padding: 15px 30px;
    width: 80px;
    height: 80px;
}

.conditions-gift {
    border-radius: 100px;
    background-color: var(--light-gray);
    padding: 15px 30px;
    width: 80px;
    height: 80px;
    padding: 20px;
}

.gifts-card-item__top, .conditions-card-item__top {
    display: flex;
    justify-content: space-between;
}

.gifts-cards__item .social-media {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

/* FAQ */


.faq h2 {
    font-size: 96px;
    font-weight: 700;
    margin: 170px 0 51px 0;
}

/* COMPONENT: FAQ */
.faq-row {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}
.faq-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.faq-item.active-state .arrow {
  transform: rotate(180deg);
}
.arrow {
  flex-shrink: 0;
  align-self: flex-start;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  transition: transform 0.3s ease;
}
.faq-item {
  background: var(--faq-color);
  border: 1px solid #828282;
  border-radius: 18px;
  box-shadow: 0 2px 8px 0 rgba(30, 41, 59, 0.07);
  overflow: hidden;
  transition: box-shadow 0.2s;
  width: 100%;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  padding: 20px;
  color: var(--white);
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  transition: background 0.15s;
}
button, .faq-question {
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  font-size: 16px;
  color: var(--white);
  background: var(--faq-color);
  transition: max-height 1s, padding 0.3s;
  line-height: 1.7;
}
.faq-answer p {
  font-size: 16px;
}
.faq-answer a {
  color: var(--red);
}
.faq-item.active-state .faq-answer {
  padding: 0 20px 20px 20px;
  max-height: max-content;
}


/* CONTACTS */

footer {
    position: relative;
}

.contacts h2 {
    font-size: 96px;
    font-weight: 700;
    margin: 170px 0 50px 0;
}

.call-to-us__row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 35px;
}

.call-to-us__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.call-to-us p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

.copyright {
    color: #D7D7D7;
    font-size: 16px;
    font-weight: 700;
}

.footer-bg-img {
    position: absolute;
    top: -50px;
    background-size: cover;      
    background-position: center;    
    background-repeat: no-repeat; 
}